<%- include('partials/headers');%>
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quidem expedita sapiente incidunt culpa aut labore. Consequatur obcaecati eum a doloremque repellat. Consectetur quas numquam modi eum veritatis amet illum iste possimus quidem accusantium sequi, ducimus quo commodi aspernatur blanditiis maxime harum ex id nulla. Molestiae optio illum minima asperiores numquam doloribus esse quis corporis eveniet vitae accusantium nobis, sint eos id possimus. Explicabo, nemo numquam itaque nisi in at sint officia error perferendis quisquam minima, amet quas saepe optio exercitationem? Eaque, cumque corporis facere tempora non suscipit quidem excepturi porro vero. Repellat eveniet quod soluta aspernatur quasi eum officiis!</p>
<%- include('partials/footer');%>